<div
  class="bootstrap-wrapper"
  style="background-color: whitesmoke; height: 100vh"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 card">
        <div class="text-center" style="margin-top: 5px">
          <img
            style="width: 120px; height: 120px"
            src="../../../assets/undraw_pic_profile_re_7g2h.svg"
            alt=""
          />
        </div>

        <h1 class="text-center" style="margin-bottom: 2px">Sign Up</h1>

        <form>
          <div class="fields">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input type="text" matInput placeholder="Enter your username" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Enter your Password"
              />
              <mat-icon matSuffix> fingerprint </mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input type="text" matInput placeholder="Enter your First Name" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input type="text" matInput placeholder="Enter your Last Name" />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="Enter your Email" />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Phone</mat-label>
              <input
                type="tel"
                matInput
                placeholder="Enter your Phone Number"
              />
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>

          <div class="container text-center">
            <button mat-raised-button color="primary" style="width: 75%">
              Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
